* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.app {
  font-family: 'montserratblack';
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: var(--bg-primary);
  color: var(--fg-primary);
}
