.editor {
  width: inherit;
  height: 100vh;
  position: absolute;
  background: var(--bg-primary);
  overflow-x: scroll;
  /*border: 1px solid var(--fg-primary);*/

}
/*.editor__note_edit,
.editor__note_preview {
  height: 50vh;
}*/

/*.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}*/

.editor__wrapper {
  display: flex;
  margin-top: 20px;
}

/* Editing */
/*.editor__note_edit {
  padding: 25px;
}*/

.editor__note_edit input,
textarea {
  display: block;
  border: 1px solid;
  /*margin-bottom: 20px;*/
  width: 50vw;
  height: 100%;
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  outline: var(--fg-primary);
  box-sizing: border-box;
}

.editor__note_edit input {
  height: 50px;
  font-size: 2rem;
  border-bottom: 1px solid var(--fg-primary);
}

/* Preview */
.editor__note_preview {
  border-left: 1px solid var(--fg-primary);
  overflow-y: scroll;
  /*background: rgba(0, 0, 0, 0.02);*/
}

.preview-title {
  padding: 10px 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

.editor__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1px;
}