.warn-popup {
  /*grid-area: w;*/
  background-color: #24292e;
  color: var(--warn_fg);
  border: 1px solid var(--fg2);
  width: 225px;
  height: 145px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10vh;
  margin: 8px;
}

.warn-popup__text {
  padding: 0 15px;
  white-space: pre-wrap;
  font-size: 12px;
}