.footer {
  border-top: 1px solid var(--border);
  font-size: 14px;
  grid-area: f;
}

.footer__container {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  font-family: 'montserratextralight';
  color: var(--fg2);
  text-decoration: none;
}

.footer__content:hover {
  color: var(--select);
  text-decoration: underline;
}